/* // Colors
// Grayscale
$black: #222222;
$white: #ffffff;
$gray-grid: #cdcdcd;
$gray-lightest: #fafafa;
$gray-light: #999999;
$gray:  #808285;
$gray-dark: #555555;
$gray-darkest: #262626;

// Qualitative colors
$orange: #F26C3B;
$teal: #40C1C9;
$pink: #D934A1;
$purple: #6141D9;
$green: #2AAD53;
$yellow: #FCCD26;
$blue: #1790d2;
$red: #fc1d22;

// Qualitative colors accessible alt for text
$orange-text: #b73a0b;
$teal-text: #007981;
$pink-text: #c20b8d;
$purple-text: $purple;
$green-text: #00812b;
$yellow-text: #8b6b00;
$blue-text: #037bbb;
$red-text: #d20007; */
